
@{
    ViewBag.Title = "References";
}

<h1>This Blog was made possible by infromation from:</h1>
<a href="https://softuni.bg/trainings/1390/software-technologies-june-2016"><h2 class="btn btn-primary">SoftUni</h2></a>
<br />
<a href="http://stackoverflow.com/"><h2 class="btn btn-primary">Stack Overflow</h2></a>
<br />
<a href="http://www.asp.net/mvc/overview/getting-started/getting-started-with-ef-using-mvc/sorting-filtering-and-paging-with-the-entity-framework-in-an-asp-net-mvc-application"><h2 class="btn btn-primary">ASP.NET</h2class="btn></h2></a>
<br />
<a href="http://www.nakov.com/blog/2015/05/28/free-asp-net-mvc-hands-on-lab/"><h2 class="btn btn-primary">Nakov.com</h2></a>
<br />

